.project-section {
	position: relative !important;
	padding-top: 150px !important;
	padding-bottom: 30px !important;
	background-image: var(--section-background-color) !important;
}

.project-card {
	padding-top: 50px !important;
	padding-bottom: 50px !important;
	padding-left: 25px !important;
	padding-right: 25px !important;
	height: auto !important;
}

.proj-card-img{
	opacity: 1 !important;
	border-radius: 1em !important;
	z-index: 9999 !important;
	aspect-ratio: 4/3;
	
}

.project-card-view {
	box-shadow: 4px 5px 5px 4px #3955ae !important;
	color: white !important;
	background-color: transparent !important;
	transition: all 0.5s ease 0s !important;
	height: 100% !important;
	/* background-color: #0c0513 !important; */
	opacity: 0.9 !important;
	margin: 1em !important;
	margin-bottom: 1em !important;
}
.project-card-view:hover {
	transform: scale(1.02) !important;
	overflow: hidden !important;
	box-shadow: 0 4px 4px 5px #5270d3 !important;
}

.blog-card {
	padding-top: 50px !important;
	padding-bottom: 50px !important;
	padding-left: 25px !important;
	padding-right: 25px !important;
	height: auto !important;
}

.blog-card-view {
	background-color: transparent !important;
	box-shadow: 0 3px 3px 2px rgba(94, 57, 230, 0.637) !important;
	color: white !important;
	transition: all 0.5s ease 0s !important;
	height: 100% !important;
}

.blog-link {
	color: white !important;
	text-decoration: none !important;
}

.blog-link:hover {
	cursor: pointer !important;
}

.blog-card-view:hover {
	transform: scale(1.02) !important;
	overflow: hidden !important;
	box-shadow: 0 3px 3px 5px #5270d3 !important;
}

.card-img-top {
	padding: 20px !important;
	opacity: 1 !important;
	z-index: 9999 !important;
	border-radius: 10px !important;
	height: 100%;
	
}

.blog-img {
	padding: 0px !important;
	opacity: 0.8 !important;
	border-radius: 1em !important;
	aspect-ratio: 4/3 !important;
	border: 1px solid grey;
}

.btn-primary {
	color: #fff !important;
	background-color: #4420c5d7 !important;
	border-color: #4f28ddd7 !important;
}

.btn-primary:hover {
	color: #fff !important;
	background-color: #4f20c5d7 !important;
	border-color: #6743ebd7 !important;
}
.btn:focus {
	outline: none !important;
	box-shadow: none !important;
}
.project-heading {
	color: white !important;
	font-size: 2.3em !important;
	font-weight: 500 !important;
	padding-top: 10px !important;
}