
.about-cont{
    padding-top: 6em;
    display: flex !important;
    flex-direction: column !important;
    width: 90% !important;  
}
.about-pub-container{
    margin-top: 0px !important;
    display: flex !important;
    width: 100% !important;
    background-color: rgb(14, 5, 50) !important;
    padding: 3em 1em !important;
    border-radius: 2em !important;
    opacity: 0.9 !important;
    margin-left: 1px !important;
    justify-content: space-evenly;
}
.about-info{
    background-color: rgb(16, 13, 37);
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    align-items: center;
    padding: 2em;
}

.about-lc-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-lc-badge{
    z-index: 1;
    background-color: rgb(30, 23, 67) !important;
    text-align: center !important;
    color: rgb(224, 222, 242)!important;  /* Set the color to your desired value */
    
    font-size: 1.1em !important;
    /* padding: 0.5em; */
    /* border: 1px solid rgb(170, 166, 195, 0.3) !important; */
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid linear-gradient(45deg, #00ff00, #ff00ff); */
    /* border-radius: 20px; */

    box-shadow: 0 0.25em 8px rgba(93, 111, 191, 0.2);
    /* border-radius: 1.25em; */
    border: 2px solid transparent;
    border-image: linear-gradient( #00ff00, #e70fe7);
    border-image-slice: 1;
}
/* 
  
.about-lc-badge::after {
content: "";
position: absolute;
top: -5px;
left: -5px;
right: -5px;
bottom: -5px;
z-index: -1;
background: linear-gradient(45deg, #00ff00, #ff00ff);
border-radius: 20px;
}
   */
  /* Your existing styles for .service-card or .gradient-background can go here */
  

.about-lc-img{
    width: 10em !important;
    max-width: 10em !important;
}
