@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-info-content: center;
  background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
} */

.info-container{
  background-color: yellow !important;
  margin: 1em;
  padding-top: 7.2em;
  width: 100% !important;
  height: 17em;
}
.info-outer{
  display: flex;
  background-color: rgb(255, 125, 0) !important;
  align-items: first baseline;
  padding: 1em !important;
  width: 100% !important;
}
.info-wrapper .info-card{
  background-color: rgb(30, 23, 67) !important;
  color: rgb(224, 222, 242)!important;  /* Set the color to your desired value */
  width: 27em;
  height: 6em;
  display: flex;
  align-items: center !important;
  padding: 1.25em;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  border-radius: 0.2em 2em 2em 0.2em;
  box-shadow: 0em 0.66em 1em rgba(0,0,0,0.1);
  animation: animate 15s linear infinite;
  animation-delay: calc(3s * var(--delay));
  border: 1px solid rgb(224, 222, 242, 0.4)!important;  
  text-align: left;
  margin-left: -4em !important;
  margin-top: -3em !important;
}
.info-outer:hover .info-card{
  animation-play-state: paused;
}
.info-wrapper .info-card:last-child{
  animation-delay: calc(-3s * var(--delay));
}

.details {
  font-weight: 600;
  font-size: 1.125em;
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%, 20%{
    opacity: 0.6;
    transform: translateY(100%) scale(0.7);
  }
  25%, 40%{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%) scale(0.9) translateX(11%);
  }
  45%, 60%{
    opacity: 0.6;
    transform: translateY(-100%) scale(0.7);
  }
  65%, 100%{
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}

.info-content{
  display: flex !important ;
  /* justify-info-content: center !important; */
  align-items: center !important;
  /* background-color: aliceblue; */
}

.info-icon{
  color: #cb8ce8 !important;
  margin-right: 1em;
  width: 1.4em !important;
  height: 1.4em !important;
}