.timeline-card-body{
    margin: 2em;
    color: #ffffff;
}

.timeline {
    position: relative;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
    color: #ffffff;
}

.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    border-right: 2px dashed #c4d2e2;
    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-top: 20px; 
    margin-bottom: 80px;
}

.timeline-row .timeline-time {
    display: block;
    position: absolute;
    right: 50%;
    top: 31px;
    text-align: right;
    margin-right: 20px;

    font-size: 1.5rem;
}



.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 20px;
    height: 3px;
    width: 40px;
}

.timeline-title{
    display: flex;
    font-weight: 500;
    font-size: 1.4em;
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 0.2em;
    border-bottom: 0.2px solid rgb(104, 148, 236);
    border-width: 90%;;
    box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 0px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0.5em;
}
.timeline-reg{
    display: flex;

    width: 1.2em !important;
    height: 1.2em !important;
}
.company{
    font-size: 2em;
    font-weight: 600;
}
.timeline-icon{
    width: 1.4em !important;
    height: 1.4em !important;
}

.badge{
    color: rgb(142, 174, 255) !important;
}

.timeline-row:nth-child(even) .timeline-title {
    flex-direction: row;
}
.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -50px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 100;
  
    border: 4px dashed #c4d2e2;
}

.timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
}

.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}

.timeline-row .timeline-content i {
    font-size: 2rem;
    color: #ffffff;
    line-height: 100%;
    padding: 10px;
    border: 2px solid #ffffff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    display: inline-block;
}

.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
}

.timeline-row .timeline-content .thumbs img {
    margin-bottom: 10px;
}
.timeline-row:nth-child(even) .timeline-content {
    background-color: rgb(30, 23, 67); /* Slightly darker indigo background color */
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2c1a8c), to(#947cd2));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #21117c, #947cd2);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #150768, #947cd2);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #21117c, #947cd2);
    /* IE10 */
    background-image: -o-linear-gradient(top, #140760, #947cd2);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #120653, #947cd2);
    margin-left: 40px;
    margin-right: 0;
    text-align: left;
    opacity: 0.9;
}




.timeline-row:nth-child(even) .timeline-content:after {
    left: -39px;
    border-right: 18px solid #ffffff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.timeline-row:nth-child(even) .timeline-content:before {
    left: -50px;
    right: initial;
}

.timeline-row:nth-child(odd) .timeline-reg {
    margin-left: 1.4em;
}


.timeline-row:nth-child(even) .timeline-reg {
    margin-right: 1.4em;
}

.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
    display: block;
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
    background-color: rgb(30, 23, 67); /* Slightly darker indigo background color */
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2c1a8c), to(#947cd2));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #21117c, #947cd2);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #150768, #947cd2);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #21117c, #947cd2);
    /* IE10 */
    background-image: -o-linear-gradient(top, #140760, #947cd2);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #120653, #947cd2);
    margin-right: 40px;
    margin-left: 0;
    text-align: right;
    opacity: 0.9;
}



.timeline-row:nth-child(odd) .timeline-content:after {
    right: -39px;
    border-left: 18px solid #ffffff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

@media (max-width: 767px) {
    .timeline {
        padding: 15px 10px;
    }
    .timeline:after {
        left: 28px;
    }
    .timeline .timeline-row {
        padding-left: 0;
        margin-bottom: 16px;
    }
    .timeline .timeline-row .timeline-time {
        display: none;
        position: relative;
        right: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    }

    .timeline .timeline-row .timeline-icon {
        top: 52px;
        left: -2px;
        margin-left: 0;
    }
    .timeline .timeline-row .timeline-content {
        padding: 15px;
        margin-left: 56px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        position: relative;
    }
    .timeline .timeline-row .timeline-content:after {
        right: auto;
        left: -39px;
        top: 32px;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding-right: 0;
    }
    /* .timeline .timeline-row:nth-child(odd) .timeline-time {
        display: none;
        position: relative;
        right: auto;
        left: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    } */
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin-right: 0;
        margin-left: 55px;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        right: auto;
        left: -39px;
        top: 32px;
        border-right: 18px solid #5a99ee;
        border-left: inherit;
    }
    .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
        left: 20px;
    }
    .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
        left: 0;
    }
}